<footer class="ft">
    <div class="container pt-5 pb-5">
        <div class="row">
            <div class="info">
                <h2>合作及接洽</h2>
                <p>若為企業欲徵才、或非營利組織或公益團體希望參加我們的培訓或公益合作、或成為我們的講師或擔任指導學生的企業導師 (Inspire Mentor)，請與我們連絡</p>
            </div>
            <div class="contact">
                <ul class="m-0 p-0">
                    <li>Build School 青杉人才有限公司 | 青群科技有限公司</li>
                    <li>社團法人台灣青築未來協會 Build the Future</li>
                    <li>(內政部立案 : 台內團字第 1090033261 號)</li>
                    <li>
                        <a href="#">email: contact@build-school.com 電話: 02-66057606</a>
                    </li>
                    <li>台北市忠孝東路三段96號11F-1 (台北科大對面/忠孝新生站3號出口)</li>
                </ul>
            </div>
        </div>
    </div>
</footer>

@code {

}