<header class="container-fluid position-absolute">
    <div class="row justify-content-center">
        <Logo Class="col-3"></Logo>
        <NavBar Class="col-6"></NavBar>
    </div>
</header>

<style>
    header.position-absolute{
        z-index: 10;
        top: 15px;
    }
</style>


@code {
    
}