<header class="container-fluid position-absolute">
    <div class="row justify-content-center">
        <div class="row col-12 col-lg-8 justify-content-between">
        <Logo Class="col-7 col-md-3"></Logo>
            <NavBar Class="col-5 col-md-8"></NavBar>
            </div>
    </div>
</header>

<style>
    header.position-absolute{
        z-index: 10;
        top: 15px;
    }
</style>

@code {
    
}