@inherits BaseComponent

<div class="logo @Class">
    <a href="#">
        <img src="images/asset-0.png" alt="">
    </a>
    <div class="text">
        <h1>
            <a href="#">Build School</a>
        </h1>
        <h2>
            developer career builder
        </h2>
    </div>
</div>