.navbar ul {
  margin: 0;

  .nav-link {
    background-color: rgba(32, 95, 41, 0.83);
    color: #fff;
    font-size: 13px;
    text-align: center;
    padding: 5px;
    &:hover {
      color: #428587;
    }
  }
}

@media screen and (min-width: 768px) {
  .navbar ul {
    .nav-link {
      background-color: transparent;
    }
  }
}