@inherits BaseComponent

<nav class="navbar navbar-expand-md navbar-light bg-transparent justify-content-end @Class">
    <div class="container-fluid h-100 justify-content-end">
        <button class="navbar-toggler " type="button" data-bs-toggle="collapse" data-bs-target="#main-nav" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="main-nav">
            <ul class="navbar-nav m-0 w-100">
                <li class="nav-item">
                    <a href="https://docs.google.com/presentation/d/e/2PACX-1vR_bJBOVwI5dxpvGpHjxf_IudLWApraTJpXCPfLDHkrYBM_JW48_82wdnfoecd8sZJ588pn9o961vpy/pub?start=false&loop=false&delayms=60000&slide=id.p1" target="_blank" class="nav-link">台北班簡介</a>
                </li> 
                <li class="nav-item">
                    <a href="https://docs.google.com/presentation/d/e/2PACX-1vTza7IHn1q6V0mSseOmqZWvWPNtbDsMNTgrN-Knb7hxib-ZPoUa5Pg1jQn4R22skyTlk0dUWHV1j9Du/pub?start=false&loop=true&delayms=60000&slide=id.p1" target="_blank" class="nav-link">新竹班簡介</a>
                </li>
                <li class="nav-item">
                    <a href="https://www.build-school.com/buildthefuture" class="nav-link">校友會-台灣青築未來協會 Build the Future</a>
                </li>
                <li class="nav-item">
                    <a href="https://blog.build-school.com/" class="nav-link">Blog</a>
                </li>
                <li class="nav-item">
                    <a href="https://blog.build-school.com/2017/03/03/inspirementor-list/" target="_blank" class="nav-link">歷屆老師</a>
                </li>
                <li class="nav-item">
                    <a href="#" target="_blank" class="nav-link">問題洽詢</a>
                </li>
            </ul>
        </div>
    </div>
</nav>