@using System.Collections
@using BuildSchool.Models
<div class="container">
    <div class="row">
        @foreach (var data in _data)
        {
            <Tool Data="@data"></Tool>
        }
    </div>
</div>

@code {

    private IEnumerable<ToolData> _data = new List<ToolData>()
    {
        new()
        {
            MainImgPath = "images/asset-8.png",
            SubImgPath = "images/asset-9.png",
            Title = "版本控管及程式碼管理",
            Content = "學員之練習及作品之程式碼，皆採用主流的 Git 當版本控管，熟悉版控的各種操作及實務專案運用; " +
                      "課程中公開之練習程式碼，提交至 GitHub 上，其它學員可參考或供講師 Code Review 檢閱，並熟悉 Open Source 生態及工具"
        },
        new()
        {
            MainImgPath = "images/asset-10.png",
            SubImgPath = "images/asset-11.png",
            Title = "作品開發及團隊管理",
            Content = "除了使用 GitHub 外，專題開發階段也將使用 Microsoft Azure DevOps Services 進行團隊開發、包括程式碼管理、" +
                      "工作項目追蹤、自動化建置等，熟悉一個軟體開發專案之流程、分工及日常工作。也可透過目前許多開發團隊常用的專案管理及看板工具 " +
                      "- Trello 進行工作分派、追蹤、或整個班的工作事項管理"
        },
        new()
        {
            MainImgPath = "images/asset-12.png",
            SubImgPath = "images/asset-13.png",
            Title = "雲端平台及服務",
            Content = "雲端平台的使用已逐漸成為一個成熟軟體開發團隊之基礎，並讓開發、測試、佈署工作更加的便利及自動化。" +
                      "因此學員將使用 Microsoft Azure 當成作品及專案應用系統執行的雲端平台，包括 Azure App Service 建立網站服務" +
                      "、Azure SQL Database 建立資料庫服務"
        },
        new()
        {
            MainImgPath = "images/asset-14.png",
            SubImgPath = "images/asset-15.png",
            Title = "團隊溝通協作及通知",
            Content = "課程過程中的線上討論、遠端溝通、或技術分享，將可透過 Microsoft Teams 或Slack 工具。" +
                      "另外練習的程式碼提交至 GitHub、或是 Trello 上的工作狀態更新，" +
                      "或是 Azure DevOps 上自動化建置的狀態，皆可發通知至 Microsoft Teams 或 Slack，" +
                      "透過自動化提升工作效率，並熟悉一個軟體開發團隊的協同合作"
        }
    };

}